@import "../../_variables.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.buttonDiv {
  display: flex;
  margin-bottom: 20px;

  button {
    border-radius: 0;
    z-index: 1;
    position: relative;
    // width: 100px;

    div {
      margin: 0 !important;
    }

    &:hover,
    &:focus-visible {
      z-index: 10 !important;
    }
  }

  .active button {
    background-color: red !important;
  }

  .firstButton button {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .lastButton button {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
