# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/venv

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
__pycache__
.vscode
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/app/static/react
/app/templates/react
/app/config/sql.json
/app/config/email_local.json
/app/sql/first_launch/executed/before_launch/*.*
/app/sql/first_launch/executed/after_launch/*.*

/.env
