@import "../../../../variables";
.MentorshipRequestCard {
  &:hover,
  &:focus-visible {
    outline: 3px solid $sq_dark_gray;
  }

  .Buttons {
    .Button {
      margin: 10px 0;
    }
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Name {
    color: $sq_black;
  }

  .Section {
    margin: 25px 0;
  }
  .subtitle {
    margin-bottom: 10px;
  }
  .subtext {
    color: $sq_black;
    margin: 0;
  }
}
.Interests {
  display: flex;
  flex-wrap: wrap;
}
// .ButtonFloatLeft {
//   position: absolute;
//   left: 27px;
//   bottom: 20px;
// }

// .ButtonFloatRight {
//   position: absolute;
//   right: 27px;
//   bottom: 20px;
// }
