@import "../../../../variables";
.MentorshipRequestCard {
  //   display: inline-block;
  //   position: relative;
  //   color: black;
  //   font-family: "Inter", sans-serif;
  //   font-size: 20px;
  //   text-decoration: none;
  //   font-style: normal;
  //   font-weight: bold;
  //   background-color: #ffffff;
  //   box-sizing: border-box;
  //   border-radius: 20px;
  //   border: 1px solid #d3d3d3;
  //   width: 360px;
  //   padding-top: 21px;
  //   margin-bottom: 30px;
  //   margin-right: 30px;
  //   padding-left: 27px;
  //   padding-right: 27px;

  &:hover,
  &:focus-visible {
    outline: 3px solid $sq_dark_gray;
  }

  .Buttons {
    .Button {
      margin: 10px 0;
    }
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Name {
    color: $sq_black;
  }

  .Section {
    margin: 25px 0;
  }
  .subtitle {
    margin-bottom: 10px;
  }
  .subtext {
    color: $sq_black;
    margin: 0;
  }

  .Interests {
    display: flex;
    flex-wrap: wrap;
  }
}

// .ButtonFloatLeft {
//   position: absolute;
//   left: 27px;
//   bottom: 20px;
// }

// .ButtonFloatRight {
//   position: absolute;
//   right: 27px;
//   bottom: 20px;
// }
