@import '../../../../variables';

.MultiSelect {
  margin: 20px 0 40px;
  width: 100%;
  .selectArea {
    position: relative;
    box-sizing: border-box;
    transition-duration: 0.05s;
    // outline: 0 solid $sq_dark_gray;
    border: 1px solid $sq_light_gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #ffffff;
    font-size: 13.3px;

    .search,
    .placeholder {
      padding: 5px 10px 5px 0;
      border: none;
      outline: none;
    }

    .search {
      z-index: 2;
      flex: 1;
      max-width: 100%;
      padding: 0;
    }

    .placeholder {
      position: absolute;
      z-index: 1;
      margin-left: 5px;
      padding: 0;
    }
  }

  .focused {
    // border: none;
    outline: 2px solid $sq_dark_gray;
    border-color: $sq_dark_gray;
  }

  .focusedWithResults {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
