@import "../../../../variables";

.MultiSelect {
  margin: 20px 0 40px;
  width: 100%;
  .selectarea {
    position: relative;
    box-sizing: border-box;
    transition-duration: 0.05s;
    outline: 0 solid $sq_dark_gray;
    display: flex;
    align-items: center;
    // padding: 10px 15px;
    padding: 10px 20px;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #FFFFFF;

    &:focus-within {
      outline: 2px solid $sq_dark_gray;
      border-color: $sq_dark_gray;
    }

    .selection {
      padding: 5px;
      margin: 0 1px;
      background-color: $sq_cream;
      border: $sq_light_gray 1px solid;
      border-radius: 5px;

      p, button {
        display: inline;
        color: #393838;
      }

      button {
        background-color: #F7F7F7;
        border: none;
      }
    }

    .search {
      // width: 19px;
      padding: 5px 10px;
      border: none;
      outline: none;
    }
  }

  .autocomplete {
    border-radius: 10px;
    border: 1px solid $sq_light_gray;
    position: absolute;
    box-sizing: border-box;
    transition-duration: 0.05s;
    outline: 0 solid $sq_dark_gray;


  }

  .autocomplete:last-child {
    background-color: red;
  }

}