@import "../../../variables";

.Button {
  width: min-content;
  height: 40px;
  margin: 20px 0;
  text-decoration: none;
  width: max-content;

  button {
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 15px;
    box-sizing: border-box;
    height: 40px;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    white-space: nowrap;

    &:hover,
    &:focus-visible {
      outline: 3px solid $sq_dark_gray;
    }

    &:hover {
      cursor: pointer;
    }
  }

  button.primary {
    background-color: $sq_red;
  }

  button.default {
    background-color: $sq_black;
  }

  .Icon {
    transition-duration: 0.09s;
    height: 100%;
  }
  .Description {
    margin-left: 20px;
    display: flex;
  }
}
