@import "../../../variables";

.Button {
  padding: 10px 20px;
  color: white;
  width: min-content;
  border-radius: 10px;
  align-items: center;
  display: flex;
  height: 40px;
  font-weight: bold;
  margin: 20px 0;
  border: none;
  box-sizing: border-box;
  font-size: 15px;

  &.primary {
    background-color: #EA596E;
  }

  &.default {
    background-color: #393838;
  }

  &:hover, &:focus-visible {
    outline: 3px solid $sq_dark_gray;
  }

  &:hover {
    cursor: pointer;
  }

  .Icon {
    transition-duration: 0.09s;
    height: 100%;
    margin-right: 20px;
  }
}