@import "../../_variables.scss";
.h1 {
  font-weight: 900;
  font-size: 25pt;
  color: $sq_black;
}

.h2 {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 10px;
  padding-top: 40px;
  display: flex;
  height: 20px;
  color: $sq_dark_gray;
}

.h3 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
  padding-top: 60px;
  display: flex;
  height: 20px;
  color: $sq_dark_gray;
}

.a {
  color: $sq_dark_gray;
  font-weight: 550;
  height: 20px;
  font-size: 17px;
}

.together {
  display: flex;
}

.b2{
    padding-top: 19px;
    padding-left: 30px;
}
