@import "../../_variables.scss";
.h1 {
  font-weight: 900;
  font-size: 25pt;
  color: $sq_black;
}

.h2 {
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 10px;
  padding-top: 40px;
  display: flex;
  height: 20px;
  color: $sq_dark_gray;
}

.h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  padding-top: 60px;
  display: flex;
  height: 20px;
  color: $sq_dark_gray;
}

.a {
  color: $sq_red;
  font-weight: 600;
  height: 20px;
  font-size: 18px;
  margin-top: -10px;
}
