.MenteeCard {
    display: inline-block;
    position: relative;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-sizing: border-box;
    border-radius: 10px;
    width: 280px;
    height: 160px;
    padding-top: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
    text-align: center;

    &:hover,
    &:focus-visible {
      outline: 3px solid #646464;
    }
}

.ButtonFloat {
    position: absolute;
    left: 65px;
    bottom: 20px;
}